@model List<Photographer>
@{
    ViewData["Title"] = "AllPhotographers";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section Styles{

         <link href="~/css/allphotogrphersStyle.css" rel="stylesheet" />
   }
<section class="rooms-area section-padding-100-0" style="margin-top:250px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="section-heading text-center">
                    <div class="line-"></div>
                    <h2>Photographers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                </div>
            </div>
        </div>

        

        <div class="row justify-content-center">
            @{
                foreach (var item in Model)
                {
                    <!-- Single Rooms Area -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-rooms-area wow fadeInUp" data-wow-delay="300ms">
                            <!-- Thumbnail -->
                            <div class="bg-thumbnail bg-img" style="background-image: url(@item.ImagePath);"></div>
                            <!-- Price -->
                            <p class="price-from">@item.Ph_Price $ /session</p>
                            <!-- Rooms Text -->
                            <div class="rooms-text">
                                <div class="line"></div>
                                <h4>@item.Ph_Name</h4>
                                <p>@item.Description</p>
                            </div>
                            <!-- Book Room -->
                            <a href="~/Home/PhoView/@item.Ph_Id" class="book-room-btn btn palatin-btn">Go To Profile </a>
                        </div>
                    </div>
                    } 
                }
        </div> 
    </div>
</section>


@*<section class="best-photographers-sec container-fluid">*@


    @*@{
            foreach (var item in Model)
            {
                <section class="blow">
                    <div class="row">
                        <div class="best-photographer photographer-pic col-sm-4" style="margin-top: 10px;">
                                    <div class="img-container">
                                        <img alt="photographer" title="photographer" src="@item.ImagePath" />
                                        <a href="~/Home/PhoView/@item.Ph_Id" style="color:black; text-decoration:none"><p style="color:black">@item.Ph_Name</p></a>
                                    </div>
                        </div>
                        <div class="best-photographer col-sm-8 container" style="margin-top: 80px;">
                            <h2>Information</h2>
                            <p>@item.Description</p>
                        </div>
                    </div>
                </section>
            }
        }*@


    <input name="" id="" class="btn btn-danger" type="button" value="More.."
           style="margin-top: 100px; padding: 10px;margin-left: auto;margin-right: auto; text-align: center;display: block;">
@*</section>*@


@section Scripts{

<script src="~/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="~/js/active.js"></script>
}

