@model List<Recommendation>
@{
    ViewData["Title"] = "Recommendation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

    <div class="container">
        <header>
            <h1>Your Recommendations</h1>
        </header>
        <div class="row block-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Wedding Hall</th>
                        <th>Wedding Hall Price</th>
                        <th>Photographer</th>
                        <th>Photographer price</th>
                        <th>Designer Shop</th>
                        <th>Invitation number</th>
                        <th>Save</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.RecommendedWeddingHall.Name</td>
                                <td>@item.RecommendedWeddingHall.Hall_Price</td>
                                <td>@item.RecommendedPhotographer.Ph_Name</td>
                                <td>@item.RecommendedPhotographer.Ph_Price</td>
                                <td>@item.RecommendedDesigner.ShopName</td>
                                <td>@item.RecommendedInvitation.Inv_Title</td>
                                <td>@item.Save</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
